// Place all the styles related to the channels controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.height40{
  height: 40px;
}

.center{
  text-align: center;
}

.align-center{
  margin-left: 450px;
}

.align-right{
  float: right;
  margin-right: 450px;
}
